<div class="text-muted">
  <section><%- include('./component/home/welcome') %></section>
  <!--  -->
  <section><%- include('./component/home/text') %></section>
  <!--  -->
  <section><%- include('./component/home/divider') %></section>
  <!--  -->
  <section><%- include('./component/home/counter') %></section>
  <!--  -->
  <section><%- include('./component/home/maps') %></section>
  <!--  -->
  <section><%- include('./component/home/top') %></section>
</div>

<hr />
